<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body>
	<script th:src="@{/js/web/cita/frmcita.js}" type="text/javascript"></script>
	<nav th:insert="layout::menu"></nav>

	<div class="text-center my-2">
		<h1 class="mb-3">Consulta de citas programadas</h1>
	</div>

	
	<div style="margin-left: 60px; margin-right: 20px;">
				
		
		<div class="row g-3 align-items-center mb-3">
			
			<div class="col-md-1">
				<label for="sede">Sede</label> 
			</div>
			<div class="col-md-2">
				<select class="form-control" id="cbosede"></select>
			</div>					
			<div class="col-md-1">
				<label for="especialidad">Especialidad</label>  
			</div>
			<div class="col-md-2">
				<select class="form-control" id="cboespecialidad"></select>
			</div>
			<div class="col-md-1">
				<label for="fechacita">Fecha</label> 
			</div>
			<div class="col-md-2">
				<input class="form-control"  type="date" id="fechacita">
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-primary" id="btnbuscar">Ver citas</button>
			</div>					
					
		</div>
		
	
			<table class="table" id="tblcitaprogramada">
				<thead>
					<tr>
						<th scope="col">Sede</th>
						<th scope="col">Especialidad</th>
						<th scope="col">Doctor</th>												
						<th scope="col">Fecha</th>
						<th scope="col">Hora</th>
						<th scope="col">Paciente</th>
						
					</tr>
				</thead>
		
					
			<tbody>
			
			</tbody>
			
		
		</table>
				
	</div>	


</body>