<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layoutPaciente::head">
<meta charset="UTF-8">
</head>
<body>
	<script th:src="@{/js/web/cita/frmcita.js}" type="text/javascript"></script>
	<nav th:insert="layoutPaciente::menuP"></nav>

	<div class="text-center my-2">
		<h1 class="mb-3">Agendar Cita</h1>
	</div>

	
	<div style="margin-left: 60px; margin-right: 20px;">
				
		
		<div class="row g-3 align-items-center mb-3">
			
			<div class="col-md-1">
				<label for="sede">Sede</label> 
			</div>
			<div class="col-md-2">
				<select class="form-control" id="cbosede"></select>
			</div>					
			<div class="col-md-1">
				<label for="especialidad">Especialidad</label>  
			</div>
			<div class="col-md-2">
				<select class="form-control" id="cboespecialidad"></select>
			</div>
			<div class="col-md-1">
				<label for="fechacita">Fecha</label> 
			</div>
			<div class="col-md-2">
				<input class="form-control"  type="date" id="fechacita">
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-primary" id="btnbuscar">Ver horarios</button>
			</div>					
					
		</div>
		
	
			<table class="table" id="tblcitacapacidad">
				<thead>
					<tr>
						<th scope="col">Sede</th>
						<th scope="col">Especialidad</th>
						<th scope="col">Doctor</th>												
						<th scope="col">Fecha</th>
						<th scope="col">Hora</th>
						<th scope="col">Acción</th>
					</tr>
				</thead>
		
					
			<tbody>
			
			</tbody>
			
		
		</table>
				
	</div>	

	<!-- Modal Registro / actualización citas -->
		<div class="modal fade" id="modalCita" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar
							cita</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					
					<div class="modal-body">
					
						<div class="row g-3 align-items-center mb-3">
							<div class="col-md-3">
								<label for="txtsede" class="form-label"> Sede</label> 
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" id="txtsede" disabled>
							</div>				
						</div>
						
						<div class="row g-3 align-items-center mb-3">
							<div class="col-md-3">
								<label for="txtespecialidad" class="form-label"> Especialidad</label> 							
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" id="txtespecialidad" disabled>
							</div>				
						</div>
						
						
						<div class="row g-3 align-items-center mb-3">
							<div class="col-md-3">
								<label for="txtfecha" class="form-label">Fecha</label> 							
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" id="txtfecha" disabled>
							</div>				
						</div>
						
						
						<div class="row g-3 align-items-center mb-3">
							<div class="col-md-3">
								<label for="txthora" class="form-label">Hora</label> 							
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" id="txthora" disabled>
							</div>				
						</div>
						
							<div class="row g-3 align-items-center mb-3">
							<div class="col-md-3">
								<label for="txtdoctor" class="form-label">Doctor</label>							 
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" id="txtdoctor" disabled>
							</div>				
						</div>						
									
						
					 	<input type="hidden" id="hdidcitacapacidad">
					 	<input type="hidden" id="hdidsede">
					 	<input type="hidden" id="hdidespecialidad">
					 	<input type="hidden" id="hdiddoctor">
					 	<input type="hidden" id="hdidhora">
					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary" id="btnregistrarcita">Confirmar cita</button>
					</div>
				</div>
			</div>
		</div>

	


</body>