<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layoutEmpleado::head">
<meta charset="UTF-8">
</head>
<body>
	<script th:src="@{/js/web/sede/frmsede.js}" type="text/javascript"></script>
	<nav th:insert="layoutEmpleado::menuE"></nav>
	
	
	<div style="margin-left: 20px; margin-right: 20px;">	
	
		<div class="text-center my-2">
	        <h1 class="mb-3">Mantenimiento sede</h1>
	    </div>		
				
	
		<button type="button" id="btnagregar" class="btn btn-primary">Agregar Sede</button>
		
		<table class="table" id="tblsede">
			<thead>
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Nombre</th>
					<th scope="col">Dirección</th>
					<th scope="col">Distrito</th>
					<th scope="col">Estado</th>
					<th scope="col">Actualizar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sede :${listasedes}">
					<td th:text="${sede.idsede}"></td>
					<td th:text="${sede.nombre}"></td>
					<td th:text="${sede.direccion}"></td>
					<td th:text="${sede.distrito.distrito}"></td>
					<td th:text="${sede.estado.estado}"></td>
					<td>
						<button type="button" class="btn btn-success btnactualizar"
							th:data-idsede="${sede.idsede}" 
							th:data-nombre="${sede.nombre}"
							th:data-direccion="${sede.direccion}"
							th:data-iddistrito="${sede.distrito.iddistrito}"
							th:data-idestado="${sede.estado.idestado}">
							<i class="fas fa-pen"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger btneliminarsede"
							th:data-idsede="${sede.idsede}"
							th:data-nombre="${sede.nombre}">
	
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
	
	</div>

	<!-- Modal Registro / actualización sede-->
	<div class="modal fade" id="modalSede" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
						Mantenimiento de Sede</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtnombre" class="form-label"> Nombre</label> <input
							type="text" class="form-control" id="txtnombre">
					</div>
					<div class="mb-3">
						<label for="txtdireccion" class="form-label"> Dirección</label>
						<input type="text" class="form-control" id="txtdireccion">
					</div>
					<div class="mb-3">
						<label for="cbodistrito" class="form-label"> Distrito</label> <select
							class="form-control" id="cbodistrito"></select>
					</div>
					<div class="mb-3">
						<label for="cboestado" class="form-label"> Estado</label> <select
							class="form-control" id="cboestado"></select>
					</div>
					<input type="hidden" id="hddidregistrosede">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	
		<!-- Modal Eliminar SEDE -->
	<div class="modal fade" id="modalEliminarSede" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
						Eliminar Sede</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">		
					<label id="mensajeeliminar"></label>
					<input type="hidden" id="hddideliminarsede"
						value="0">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary"
						id="btneliminar">Eliminar</button>
				</div>
			</div>
		</div>
	</div>
</body>