<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body >
	<script th:src="@{/js/web/doctor/frmdoctor.js}" type="text/javascript"></script>
	<nav th:insert="layoutEmpleado::menuE"></nav>
	
	
	<div style="margin-left: 20px; margin-right: 20px;">	
		
		<div class="text-center my-2">
	        <h1 class="mb-3">Mantenimiento doctor</h1>
	    </div>		
				
		
		<button type="button" id="btnagregar" class="btn btn-primary">
			Agregar Doctor</button>
		
		<table class="table" id="tbldoctor">
			<thead>
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Nombres y Apellidos</th>
					<th scope="col">F.Nacimiento</th>
					<th scope="col">Documento</th>
					<th scope="col">N° Documento</th>
					<th scope="col">COP</th>
					<th scope="col">Correo</th>
					<th scope="col">Especialidad</th>
					<th scope="col">Estado</th>
					<th scope="col">Actualizar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="doctor :${listadoctores}">
					<td th:text="${doctor.iddoctor}"></td>
					<td th:text="${doctor.nombres + ' ' + doctor.apellidopaterno + ' ' + doctor.apellidomaterno}"></td>
					<td th:text="${doctor.fechanacimiento}"></td>
					<td th:text="${doctor.tipodocumento.tipodocumento}"></td>
					<td th:text="${doctor.numerodocumento}"></td>
					<td th:text="${doctor.codigocop}"></td>
					<td th:text="${doctor.correoinstitucional}"></td>
					<td th:text="${doctor.especialidad.especialidad}"></td>
					<td th:text="${doctor.estado.estado}"></td>
					<td>
						<button type="button" class="btn btn-success btnactualizar"
							th:data-iddoctor="${doctor.iddoctor}"
							th:data-nombres="${doctor.nombres}"
							th:data-apellidopaterno="${doctor.apellidopaterno}"
							th:data-apellidomaterno="${doctor.apellidomaterno}"
							th:data-fechanacimiento="${doctor.fechanacimiento}"
							th:data-idtipodocumento="${doctor.tipodocumento.idtipodocumento}"
							th:data-numerodocumento="${doctor.numerodocumento}"
							th:data-codigocop="${doctor.codigocop}"
							th:data-correoinstitucional="${doctor.correoinstitucional}"
							th:data-idespecialidad="${doctor.especialidad.idespecialidad}"
							th:data-idestado="${doctor.estado.idestado}">
							<i class="fas fa-pen"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger btneliminardoctor"
							th:data-iddoctor="${doctor.iddoctor}"
							th:data-nombres="${doctor.nombres}"
							th:data-apellidopaterno="${doctor.apellidopaterno}"
							th:data-apellidomaterno="${doctor.apellidomaterno}">
							<i class="fas fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	
	</div>
	<!-- Modal Registro / actualizacion Doctor -->
	<div class="modal fade modal-xl" id="modalDoctor" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						Mantenimiento de Doctor</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				
				
				<div class="modal-body">
				

					<div class="row g-3 align-items-center mb-3">
						<div class="col-md-3">
							<label for="txtnombres" class="form-label"> Nombres</label> 
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="txtnombres">
						</div>
						
						<div class="col-md-3">
							<label for="txtapellidopaterno" class="form-label">Apellido paterno</label>  
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="txtapellidopaterno">
						</div>		
					</div>
					
					<div class="row g-3 align-items-center mb-3">
						
						<div class="col-md-3">
							<label for="txtapellidomaterno" class="form-label">	Apellido materno</label>   
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="txtapellidomaterno">
						</div>
						<div class="col-md-3">
							<label for="txtfechanacimiento" class="form-label"> F. nacimiento</label>  
						</div>
						<div class="col-md-3">
							<input type="date" class="form-control" id="txtfechanacimiento">
						</div>																
					</div>					
															
					<div class="row g-3 align-items-center mb-3">
						<div class="col-md-3">
							<label for="cbotipodocumento" class="form-label"> Documento</label>   
						</div>
						<div class="col-md-3">
							<select class="form-control" id="cbotipodocumento"></select>
						</div>
						<div class="col-md-3">
							<label for="txtnrodocumento" class="form-label"> N° documento</label>   
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="txtnrodocumento">
						</div>										
					</div>											
					
					<div class="row g-3 align-items-center mb-3">
						<div class="col-md-3">
							<label for="txtcodigocop" class="form-label"> Código COP </label> 
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="txtcodigocop">
						</div>					
						<div class="col-md-3">
							<label for="txtcorreo" class="form-label"> Correo </label>
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="txtcorreo">
						</div>					
					</div>		
					
					
					<div class="row g-3 align-items-center mb-3">
						<div class="col-md-3">
							<label for="cboespecialidad" class="form-label"> Especialidad</label> 
						</div>
						<div class="col-md-3">
							<select class="form-control" id="cboespecialidad"></select>
						</div>					
						<div class="col-md-3">
							<label for="cboestado" class="form-label"> Estado</label> 
						</div>
						<div class="col-md-3">
							<select class="form-control" id="cboestado"></select>
						</div>					
					</div>	
					

					<input type="hidden" id="hddidregistrodoctor">
					
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btnguardar">Guardar</button>
				</div>
				
			</div>
		</div>
		</div>
		
	


	<!-- Modal Eliminar Doctor -->
	<div class="modal fade" id="modalEliminarDoctor" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						Eliminar Doctor</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label id="mensajeeliminar"></label> <input type="hidden"
						id="hddideliminardoctor" value="0">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btneliminar">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>